Package: com.uroboro.ircyslog
Name: IRCyslog
Depends: com.uroboro.library.uircclient, ngircd
Version: 0.0.1
Architecture: iphoneos-arm
Description: IRC syslog repeater.
Maintainer: uroboro <uroboro845@gmail.com>
Author: uroboro <uroboro845@gmail.com>
Section: System
Tag: role::hacker
Depiction: http://uroboro.github.io/repo/?p=com.uroboro.ircyslog
